<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Jungle, <%= @order.email %>!</h1>
    <p>
      Your Order (Order No. <%= @order.id %>) has successfully been processed!
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for your order, we hope you have a great day!</p>
  </body>
</html>