// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Roboto|Varela+Round');

// App
@import "products";
@import "login_and_registration";



// Global
body {
  padding-top: 70px;

  img.rating-star {
    width: 18px;
    height: auto;
  }

  .nav {
  margin-bottom: 8px;
  }

  .navbar-brand {
    font-size: 25px;
    }

}
