// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;

  img.rating-star {
    width: 18px;
    height: auto;
  }

  // div.login-logout {
  // float: right;
  // margin-right: 53px;
  // margin-bottom: 6px;
  // }


}
